:root {
  --blue: #1D1E9E;
  --medium-blue: #3D3EBE;
  --light-blue: #9597FF;
  --gold: #DBA64C;
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FEBE10;
  --light-gray: #F5F5F5;
  --medium-gray: #D9D9D9;
  --dark-gray: #b4b4b4;
  --black-gray: #4A4A4A;
}

body {
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.1rem;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-description {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
  background-color: var(--gold);
  transform: scale(1.05);
}